<link rel="stylesheet" type="text/css" href="form.css">
<form class="login-form" action="/" method="POST">
  <h1>Weather</h1>
  <input placeholder="lat" class="username" name="lat" />
  <input placeholder="lng" class="password" name="lng"/>
  <button class="log-in">Submit</button>
</form>